.footer {
  background: linear-gradient(
    90deg,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  color: var(--light-color);
  padding: 30px 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer__logo img {
  height: 40px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.footer__divider {
  border: none;
  border-top: 1px solid var(--light-color-hover);
  width: 100%;
  margin: 10px 0;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__copyright {
  font-size: 0.85rem;
}

.footer__social {
  display: flex;
  gap: 12px;
}

.footer__social-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-gradient-start);
  transition: background 0.3s ease;
}

.footer__social-link:hover {
  background: var(--accent-color);
  color: #fff;
}

.footer__slogan {
  font-size: 0.95rem;
  font-weight: 400;
  text-align: left;
}

/* Responsive */
@media (max-width: 768px) {
  .footer__main {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
