<footer class="footer">
  <div class="footer__content container">
    <!-- Middle section -->
    <div class="footer__main">
      <!-- Logo -->
      <div class="footer__logo">
        <img src="assets/light_icon_logo.svg" alt="Deepstream Logo" />
      </div>
      <div class="footer__links">
        <!-- Slogan -->
        <div class="footer__slogan">Talent. Technology. Transformation.</div>

        <div class="footer__social">
          <a href="#" class="footer__social-link"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
      </div>
    </div>
    <hr class="footer__divider" />
    <p class="footer__copyright">
      &copy; 2026 Deepstream.co.in All rights reserved.
    </p>
  </div>
</footer>
