<header class="header">
  <div class="header__content container">
    <!-- Logo -->
    <div class="header__logo">
      <img
        src="assets/light_logo.svg"
        alt="Deepstream Consulting Logo"
        class="header__logo-image header__logo-image--desktop"
      />
      <img
        src="assets/color_icon_logo.svg"
        alt="Deepstream Consulting Icon Logo"
        class="header__logo-image header__logo-image--mobile"
      />
    </div>

    <!-- Actions -->
    <nav class="header__actions" aria-label="Main navigation">
      <!-- Search -->
      <form class="header__search" role="search">
        <input
          type="text"
          name="q"
          placeholder="Search"
          class="header__search-input"
        />
        <button class="header__search-button" type="submit" aria-label="Search">
          <img src="assets/icons/icon-search.svg" alt="Search icon" />
        </button>
      </form>

      <!-- Consult button -->
      <a
        href="#contact"
        class="button button--md button--primary-outlined"
        id="consult-button"
      >
        <span class="consult-text">Consult Now</span>
        <img
          src="assets/icons/icon-send.svg"
          alt="Consult icon"
          class="consult-icon"
        />
      </a>
    </nav>
  </div>
</header>
